.contact-us {
	background-color: #eee;
}

.container-contact-us {
	padding-top: 105px;
	padding-bottom: 110px;
}


.contact-us-heading {
	font-family: "Roboto Slab", serif;
	text-transform: uppercase;
	font-size: 22px;
	padding-bottom: 22px;
}

.info-message {
	display: flex;
	justify-content: space-between;
}

.office-info,
.drop-message {
	flex-basis: 580px;
	padding: 5px;
}

.office-info-item {
	color: #696969;
	font-size: 14px;
	padding: 5px 0;
}

.office-info-map {
	margin: 45px 0 0 0;
	max-width: 100%;
}

.office-info-item .fa.fa-map-marker {
	font-size: 18px;
}

.office-info-item .fa.fa-mobile {
	font-size: 21px;
}

.office-info-item .fa.fa-envelope {
	font-size: 12px;
}

.contact-us-form {
	max-width: 570px;
	width: 100%;
}


.message-name,
.message-email,
.message-subject,
.message-text {
	height: 50px;
	border-radius: 2px;
	border: 1px solid #cacaca;
	background-color: #d4d4d4;
	margin-bottom: 20px;
	padding: 20px;
	font-size: 14px;
	font-style: italic;
	font-family: "Open Sans", sans-serif;
}
.message-name,
.message-email {
	display: inline-block;
	width: 49.3%;
}

.message-name {
	margin-right: 3px;
}

.message-subject {
	display: block;
	width: 100%;
}

.message-text {
	height: 220px;
	width: 100%;
}

.message-button {
	outline: none;
	border: none;
	margin: 0;
	padding-top: 17px;
	font-family: "Roboto Slab", serif;
	font-size: 14px;
	font-weight: 600;
}

.message-button:hover {
	cursor: pointer;
	background-color: #000;
	color: #fff;
}

input::placeholder {
	font-size: 14px;
	font-style: italic;
}

textarea::placeholder {
	font-size: 14px;
	font-style: italic;
	font-family: "Open Sans", sans-serif;
}

input:focus,
textarea:focus {
	outline: none;
	border: 1px solid var(--green);
}