.slick-dots {
	position: absolute;
	bottom: 100px;
	display: block;
	width: 100%;
	/*padding-bottom: 50px;*/
	margin: 0;
	list-style: none;
	text-align: center;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	width: 15px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
	opacity: 1;
}


.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 15px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	outline: none;
	background: transparent;
	opacity: 1;
}

.slick-dots li button::before {
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 2px solid #fff;
	margin: 5px;
	font-family: serif;
	opacity: 1;
	content: "";
}

.slick-dots li.slick-active button::before {
	background-color: #fff;
	opacity: 1;
}


/*testimonials*/

.testimonials .slick-dots {
	bottom: -50px;
}

.slick-dots li.slick-active button::before {
	opacity: 1;
}

.slick-prev::before,
.slick-next::before {
	opacity: 1;
}